* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(33, 150, 33);
}

button {
    width: 100%;
    font-size: 72px;
    border: none;
}

button:hover{
    cursor: pointer;
}

.calculator {
    width: 400px;
    height: 500px;
    padding: 64px;
    border: 4px solid black;
    border-radius: 10px;
    background-color: white;
}

.display {
    border: 1px solid black;
    padding: 4px;
    text-align: right;
    font-size: 72px;
}

.keyboard {
    width: 100%;
    height: 100%;
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.row {
    display: flex;
    gap: 4px;
}

.operation {
    background-color: lightsalmon;
}

.operation:hover {
    background-color: rgb(248, 141, 98);
}

.number {
    background-color: lightblue;
}

.number:hover {
    background-color: rgb(136, 202, 224);
}

.clearBtn {
    background-color: rgb(190, 197, 204);
}

.clearBtn:hover {
    background-color: rgb(154, 175, 196);
}

.equalBtn {
    background-color: rgb(238, 200, 104);
}

.equalBtn:hover {
    background-color: goldenrod;
}